.container{
    width: 75%;
    margin-left: 10%;
    /* background-color: orange; */
    height: 500px;
    background-image: url("image/chalk.jpg");
}

#clock{
    position: relative;
}

button{
    width: 50%;
}

button:hover{
    border: none;
    background: whitesmoke;
}